*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 10px;
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
.containerall{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.856);
    
}

.navigationbar{
    background-color: #fff;
}
.navigationbar-item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 2rem;
   
}

.navigationbar-item a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: all 0.5s ease;
    
    
}

.navigationbar-item a:hover{
        font-size: 4rem;
        transition: all 0.5s ease;
}


.aboutme{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'photo title title'
    'photo text text';
    /* background-color: white; */
    padding: 3rem;
}
.aboutme-photo{
    grid-area: photo;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.aboutme-title{
    grid-area: title;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 10px red;

}
.aboutme-text{
    grid-area: text;
    font-size: 3rem;
    text-align: justify;
    color: #fff;
    /* border: solid 1px red; */
    padding: 3rem;
    
}

.skill{
    display: flex;
    justify-content: center;
    /* padding: 0 10rem 2rem; */
    font-size: 3rem;
    /* gap: 30rem; */
    
}
.skill ul{
    list-style: none;
}
.skill ul li{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
}
.skill ul li img{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.skill details{
    display: flex;
    gap: 10rem;
    align-items: center;
    /* border: solid 1px red; */
}
.skill summary{
    margin: 0 20rem 10rem;
}

.skill summary img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    
    
}

.social-media{
    position: fixed;
    top: 30%;
    right: 1rem;
    width: fit-content;
    padding: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    
}
.social-media img{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transition: all 0.5s ease;
}

.social-media a:hover img{
        height:6rem;
        width: 6rem;
        transition: all 0.5s ease;
}


.contactme{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 3rem;
    gap: 20rem;   
}
.contactme a{
    display:flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    transition: all 1s ease;
}
.contactme a:hover {
        background-color: rgba(255, 255, 255, 0.617);
        color: rgba(0, 0, 0, 0.856);
        font-size: 4rem;
        padding: 1rem;
        transition: all 1s;
        border-radius: 3rem;
}

.carousel-item p{
    background-color: rgba(0, 0, 0, 0.856);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 600;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 18:54:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  .heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 19:9:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  
  footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 2rem;
  }